// Hydro
.c80C0FFFF {
  color: #80c0ffff;
}

// Anemo
.c80FFD7FF {
  color: #80ffd7ff;
}

// Cryo
.c99FFFFFF {
  color: #99ffffff;
}

// Pyro
.cFF9999FF {
  color: #ff9999ff;
}

// Electro
.cFFACFFFF {
  color: #ffacffff;
}

.cFFD780FF {
  color: #ffd780ff;
}

// Geo
.cFFE699FF {
  color: #ffe699ff;
}

.cFFE708FF {
  color: #ffe708ff;
}
