.Anemo {
  border-color: #80ffd7;
  background: radial-gradient(#236452, #18473c);
}

.Cryo {
  border-color: #99ffff;
  background: radial-gradient(#345e67, #26464e);
}

.Hydro {
  border-color: #80c0ff;
  background: radial-gradient(#154f6e, #113a52);
}

.Pyro {
  border-color: #ff9999;
  background: radial-gradient(#693126, #47211b);
}

.Geo {
  border-color: #ffe699;
  background: radial-gradient(#6a4d16, #6a4d16);
}

.Electro {
  border-color: #ffacff;
  background: radial-gradient(#573970, #3c2954);
}
